form{
  align-items: center;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  background-color: #fff;
  margin-top: 5%;
}
.title {
  color: rgb(105, 106, 107);
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid  rgb(189, 186, 186);
}


.uploads{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.standartButton{
  
  margin: 10px;
  
}
.trans{
  transform: rotate(-90deg);
}