<form class="container-flex boxShadow ">
  <div class="title">Create Post</div>
      <mat-form-field class="width-95">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter title">
        </mat-form-field>

       <mat-form-field class="example-full-width width-95">
        <textarea matInput placeholder="What's on your mind?"></textarea>
         </mat-form-field>
   <div class="uploads ">
   <button  mat-stroked-button class="standartButton"  color="basic"> <i class="material-icons">add_a_photo</i></button> 
   <button mat-stroked-button class="standartButton" color="basic"> <i class="material-icons trans">attachment</i></button>
  <button  mat-stroked-button class="standartButton" color="basic">Post</button>
</div>
  </form>

