<form class="container-flex ">
  <div class="info">
      <div class="subtitle">
    <img src="/assets/download.png" class="avatar" />
      <p>{{ name }} {{ surname }}</p>
      </div>
   <div class="post-remove">
  <mat-icon >delete_outlined</mat-icon>
  </div>
</div>
  <hr />
  <div class="allpost">
    <div class="post-title">
      <!-- <mat-card-content>{{title}}</mat-card-content> -->
    </div>
    <div class="post-content">
      <!-- <mat-card-content>{{content}}</mat-card-content> -->
    </div>
    <div class="post-img">
  </div>
  </div>
  <hr />
  <app-like></app-like>
</form>
    
