
<form class="container-flex postMargin boxShadow">
  <div class="info">
      <div class="subtitle">
    <img src="/assets/download.png" class="avatar" />
      <p>{{ post.author?.firstname }} {{ post.author?.lastname }}</p>
      </div>
   <div class="post-remove">
  <button class='rem' (click)='removePost()'><mat-icon>delete_outlined</mat-icon></button>
  </div>
</div>
  <hr />
  <div class="allpost">
    <div class="post-title">
      <mat-card-content>{{post.title}}</mat-card-content>
    </div>
    <div class="post-content">
      <mat-card-content [innerHTML]="post.content"></mat-card-content>
    </div>
   <div class="post-img">
  </div>
  </div>
  <hr />
  <app-like [post]='post'></app-like>
</form>

    
