form {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  background-color: #fff;
}
.postMargin{
  margin-bottom: 10px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
mat-icon {
  color: #050505;
}
mat-icon:hover {
  color: #35bb7d;
}
.info {
  display: flex;
  justify-content: space-between;
}
.subtitle {
  display: flex;
  justify-content: left;
  font-size: 18px;
  color: black;
}
p {
  margin: 13px;
}
.rem {
  background: transparent;
  border: none;
}
