form{
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 20px 10px;
  background-color: #fff;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
