<div class="container-flex   boxShadow register">
    <p class="title">Register</p>
    <form action="">
        <mat-form-field class="width-95">
          <input matInput placeholder=" Name">
        </mat-form-field>
        <mat-form-field class="width-95">
          <input matInput placeholder=" LastName">
        </mat-form-field>
        <mat-form-field class="width-95">
          <input matInput placeholder=" Email">
        </mat-form-field>
        <mat-form-field class="width-95">
          <input matInput placeholder=" Birthdate">
        </mat-form-field>
        <mat-form-field class="width-95">
          <input matInput placeholder=" Password">
        </mat-form-field>
        <mat-form-field class="width-95">
          <input matInput placeholder="Confirm Password">
        </mat-form-field>
        <button mat-raised-button class="standartButton">LogIn</button>
    </form>
</div>
