<div class="container-flex   boxShadow register">
  <p class="title">Register</p>
  <form class="width-95" [formGroup]='register' (ngSubmit)='onSubmit()'>
    <mat-form-field class="width-95">
      <input matInput placeholder="First Name" formControlName='firstname'>
    </mat-form-field>
    <p *ngIf='errorsOpen && register.controls.firstname.errors' class="errors width-95">
      {{errorsValidation('firstname')}}</p>
    <mat-form-field class="width-95">
      <input matInput placeholder="Last Name" formControlName='lastname'>
    </mat-form-field>
    <p *ngIf='errorsOpen && register.controls.lastname.errors' class="errors">{{errorsValidation('lastname')}}</p>
    <mat-form-field class="width-95">
      <input matInput placeholder="Email" formControlName='email'>
    </mat-form-field>
    <p *ngIf='errorsOpen && register.controls.email.errors' class="errors">{{errorsValidation('email')}}</p>
    <mat-form-field class="width-95">
      <input matInput [matDatepicker]="picker" placeholder="Choose a birthdate" formControlName='birthdate'>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
    <p *ngIf='errorsOpen && register.controls.birthdate.errors' class="errors">{{errorsValidation('birthdate')}}</p>
    <mat-form-field class="width-95">
      <input matInput type="password" placeholder="Password" formControlName='password'>
    </mat-form-field>
    <p *ngIf='errorsOpen && register.controls.password.errors' class="errors">{{errorsValidation('password')}}</p>
    <mat-form-field class="width-95">
      <input matInput type="password" placeholder="Confirm Password" formControlName='confirmPassword'>
    </mat-form-field>
    <p *ngIf='errorsOpen && this.register.value.confirmPassword !== this.register.value.password' class="errors">
      {{errorsValidation('confirmPassword')}}</p>
    <button mat-raised-button class="standartButton">Register</button>
    <p *ngIf='errorsOpen && userexists' class="errors">{{userexists}}</p>
  </form>
  <p class="textColor" [routerLink]="['/login']">LogIn</p>
</div>
