<div class="entireProfilePage container-flex width-95 boxShadow">

    <div class="coverPhoto">
        <div class="imgIconAndText">

            <img [src]="urlCover" *ngIf="hideCoverImage" class="uploadCover">

            <input type='file' id="cover" class="hidden" (change)="onSelectCoverFile($event)">
            <div class="uploadCoverIconAndText" *ngIf="hideUploadCoverButton">
                <mat-icon>photo_camera</mat-icon>
                <label for="cover">Upload Cover Photo</label>
            </div>

            <div class="updateCoverPhoto" *ngIf="showUploadCoverButton">
                <mat-icon>photo_camera</mat-icon>
                <label for="cover">Update Cover Photo</label>
            </div>

        </div>
        <div class="profilePic">
            <div class="pic">
                <img [src]="urlProfile" *ngIf="hideProfileImage" class="uploadProfile" height="200px">
                <input type='file' id="profile" class="hidden" (change)="onSelectProfileFile($event)">

                <div class="uploadProfileIconAndText" *ngIf="hideUploadProfileButton">
                    <mat-icon>photo_camera</mat-icon>
                    <label for="profile">Upload Profile Photo</label>
                </div>
                <div class="updateProfilePhoto" *ngIf="showUploadProfileButton">
                    <mat-icon>photo_camera</mat-icon>
                    <label for="profile">Update Profile Photo</label>
                </div>
               
            </div>
        </div>
    </div>




    <div class="sides">
        <div class="leftSide boxShadow">
            <div class="feed">
                <button mat-flat-button class="standartButton">Feed</button>
                <!-- <a href="#">Feed</a> -->
            </div>
            <div class="connections">
                <button mat-flat-button class="standartButton">Connections</button>

            </div>
            <div class="details">
                <button mat-flat-button class="standartButton">Details</button>

            </div>
        </div>

        <div class="rightSide boxShadow">

        </div>
    </div>




</div>

<!-- 
<div class="follow">
        <div class="followers">
            <a href="#">Followers</a>
        </div>

        <div class="following">
            <a href="#">Following</a>
        </div>
    </div> -->