<div class="entireProfilePage container-flex  boxShadow">
    <div class="coverPhoto">
        <div class="imgIconAndText">
            <p class="feedButton" routerLink="/feed"><mat-icon>keyboard_arrow_left</mat-icon></p>           
            <img [src]="imgURL" *ngIf="imgURL" class="uploadCover">
            <input #file accept='image/*' type='file' id="cover" class="hidden" (change)="coverPhoto(file.files)">
            <div class="uploadCoverIconAndText" *ngIf="hideUploadCoverButton">
                <mat-icon>photo_camera</mat-icon>
                <label for="cover">Upload Cover Photo</label>
            </div>
            <div class="updateCoverPhoto" *ngIf="!hideUploadCoverButton">
                <mat-icon>photo_camera</mat-icon>
                <label for="cover">Update Cover Photo</label>
            </div>
        </div>
        <div class="profilePic">
            <div class="pic">
                <img [src]="urlProfile" *ngIf="hideProfileImage" class="uploadProfile" height="200px">
                <input #fileProf accept='image/*' type='file' id="profile" class="hidden" (change)="profilePhoto(fileProf.files)">
                <div class="uploadProfileIconAndText" *ngIf="hideUploadProfileButton">
                        <mat-icon>photo_camera</mat-icon>
                        <label for="profile">Upload Profile Photo</label>
                </div>
                <div class="updateProfilePhoto" *ngIf="!hideUploadProfileButton">
                    <mat-icon>photo_camera</mat-icon>
                    <label for="profile">Update Profile Photo</label>
                </div>
            </div>
        </div>
    </div>
    <div class="nameSurname">
        <p>{{ name }} {{ surname }}</p>
    </div>
    <div class="sides">
        <div class="leftSide ">
            <p class="menuItem" (click)="openMyPostsButton()" [ngClass]="{'activeMenuItem': showPosts}"><span *ngIf="openMy">My</span> Posts</p>
            <p class="menuItem" (click)="openConnectionsButton()" [ngClass]="{'activeMenuItem': openConnections}">Connections</p>
            <p class="menuItem" (click)="openDetailsButton()" [ngClass]="{'activeMenuItem': openDetails}">Details</p>
        </div>
        <div class="mainContent boxShadow">
            <app-add-post *ngIf="openCreatePost"></app-add-post>
            <div *ngIf="showPosts">
                <app-added-post *ngFor="let post of posts" [post]='post'></app-added-post>
            </div>
            <div class="connections" *ngIf="openConnections">
                <p (click)="openFollowingButton()" [ngClass]="{'activeFollow': following }">Following</p>
                <p (click)="openFollowersButton()" [ngClass]="{'activeFollow': followers }">Followers</p>
            </div>
            <app-details *ngIf="openDetails"></app-details>
            <div *ngIf="following">
                <div >
                     <app-user *ngFor="let item of followingsUser" [item]='item'></app-user>   
                </div>
            </div>

            <div *ngIf="followers">
                <div > 
                     <app-user *ngFor="let item of followersUser" [item]='item'></app-user>   
                </div>
            </div>
        </div>
    </div>
</div>
