<div class="entireProfilePage container-flex  boxShadow">

    <div class="coverPhoto">
        <div class="imgIconAndText">

            <img [src]="urlCover" *ngIf="hideCoverImage" class="uploadCover">

            <input type='file' id="cover" class="hidden" (change)="onSelectCoverFile($event)">
            <div class="uploadCoverIconAndText" *ngIf="hideUploadCoverButton">
                <mat-icon>photo_camera</mat-icon>
                <label for="cover">Upload Cover Photo</label>
            </div>

            <div class="updateCoverPhoto" *ngIf="showUploadCoverButton">
                <mat-icon>photo_camera</mat-icon>
                <label for="cover">Update Cover Photo</label>
            </div>

        </div>
        <div class="profilePic">
            <div class="pic">
                <img [src]="urlProfile" *ngIf="hideProfileImage" class="uploadProfile" height="200px">
                <input type='file' id="profile" class="hidden" (change)="onSelectProfileFile($event)">

                <div class="uploadProfileIconAndText" *ngIf="hideUploadProfileButton">
                    <div class="textInProfilePic">
                        <mat-icon>photo_camera</mat-icon>
                        <label for="profile">Upload Profile Photo</label>
                    </div>
                </div>
                <div class="updateProfilePhoto" *ngIf="showUploadProfileButton">
                    <mat-icon>photo_camera</mat-icon>
                    <label for="profile">Update Profile Photo</label>
                </div>
               
            </div>
        </div>
    </div>

    <div class="nameSurname">
        <p>{{ name }} {{ surname }}</p>
        <!-- <p>Name</p> -->
    </div>




    <div class="sides">
        <div class="leftSide ">
            <p class="menuItem" routerLink="/feed">Feed</p>
            <p class="menuItem" (click)="openMyPostsButton()" [ngClass]="{'activeMenuItem': myPosts}"><span>My</span> Posts</p>
            <p class="menuItem" (click)="openConnectionsButton()" [ngClass]="{'activeMenuItem': connect}">Connections</p>
            <p class="menuItem" (click)="openDetailsButton()" [ngClass]="{'activeMenuItem': details}">Details</p>
        </div>
        <div class="mainContent boxShadow">
            <app-add-post *ngIf="openCreatePost"></app-add-post>
            <div class="connections" *ngIf="openConnections">
                <p>Following</p>
                <p>Followers</p>
            </div>
            <!-- <app-user></app-user> -->
            <div class="details" *ngIf="openDetails">
                <p>Firstname Lastname</p>
                <p>Email</p>
                <p>Birthdate</p>
                <p>Occupation</p>
                <p>Location</p>
            </div>
        </div>
    </div>
</div>
