.container {
  height: 30px;
}

#toggle-heart {
  left: -100vw;
}

#toggle-heart {
  color: #aab8c2;
}

#toggle-heart.checked {
  color: #35bb7d;
}

#toggle-heart {
  font-size: 35px;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

#toggle-heart {
  align-self: center;
}

@keyframes heart {

  0%,
  17.5% {
    font-size: 0;
  }
}

#toggle-heart.checked {
  will-change: font-size;
  animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}

p {
  margin: 10px;
  font-size: 25px;
  color: #aab8c2;
}

.like {
  display: flex;
  justify-items: right;
  width: 10;
}
