<div class="sug-user boxShadow" *ngFor="let item of users; let i=index">
    <img [routerLink]="['/profile',item._id]" (click)="sendId(item._id)" src="../../assets/userdefult.png" alt="Img">
    <p [routerLink]="['/profile',item._id]" (click)="sendId(item._id)">{{item.firstname}} {{item.lastname}}</p>
    <button class="followButton" (click)='onClickFollow(item, i)' *ngIf="!trueOrFalse[i]">Follow</button>
    <button  class="unFollowButton" (click)='onClickFollow(item,i)' *ngIf="trueOrFalse[i]">UnFollow</button>
</div>