<div class="container-flex boxShadow wisard">
    <p class="title">Details</p>
    <form action="">
        <mat-form-field class="width-95">
            <input matInput placeholder="Occupotion" >
        </mat-form-field>
        <mat-form-field class="width-95">
            <input matInput placeholder="Location" >
        </mat-form-field>    
        <mat-form-field class="example-full-width width-95">
            <textarea matInput placeholder="Bio"></textarea>
        </mat-form-field>
        <button mat-raised-button class="standartButton">Next</button>
    </form>
</div>
<div class=" container-flex boxShadow wisard">
    <app-user></app-user>
    <button mat-raised-button class="standartButton">Next</button>
</div>