<div class="details">
    <form [formGroup]='detail'>
        <input value={{firstname}} class="inputFields" formControlName="firstname">
        <input value={{lastname}} formControlName="lastname" class="inputFields" >
        <input value={{email}} formControlName="email" class="inputFields">
        <input value={{birthdate}} formControlName="birthdate" class="inputFields">
        <input value={{occupation}} formControlName="occupation" class="inputFields">
        <input value={{location}} formControlName="location" class="inputFields">
        <input value={{bio}} formControlName="bio" class="inputFields">
        <button class="save" *ngIf="openSave" (click)="saveButton()">Save</button>
        <button class="standartButton" *ngIf="openEdit" (click)="allowToEditButton()">Edit</button>
    </form>
</div>      