<div class="details">
    <p [attr.contenteditable]='allowToEdit?true:false'>{{ name }} {{ surname }}</p>
    <p [attr.contenteditable]='allowToEdit?true:false'>{{ email }}</p>
    <p [attr.contenteditable]='allowToEdit?true:false'>{{ birthdate }}</p>
    <p [attr.contenteditable]='allowToEdit?true:false'>{{ occupation }}</p>
    <p [attr.contenteditable]='allowToEdit?true:false'>{{ location }}</p>

    <button class="standartButton" *ngIf="openEdit" (click)="allowToEditButton()">Edit</button>
    <button class="save" *ngIf="openSave" (click)="saveButton()">Save</button>
</div>