html, body { height: 100%; }
* { 
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
.container-flex{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}
.width-95{
    width: 95%;
}
body{
    background-color: #f4f7f2;
}
.width-60{
    width: 60%;
}
.standartButton{
    width: 120px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    border:none;
    background-color: #35bb7d;
    margin-top: 20px!important;
    margin-top: 20px;
    /* background-image: linear-gradient(to right, #5185d5, #006f98, #005054, #132f23, #0c0f06); */ 
}
.standartButton:hover{
    background-color: #27704e;
}
.boxShadow{
    box-shadow: 1px 1px 8px -1px #156b4e;
}
.bacColorWhite{
    background-color: white;
}
.textColor{
   color: #35bb7d;
   font-weight: bold;
}
.title{
    font-size: 20px;
    color: rgb(13, 44, 19);
}
.followButton{
    border:none;
    background-color: #35bb7d; 
    color: white;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
}
.followButton:hover{
  background-color: #27704e;
}
.users{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    
}
.user{
    width: 30%;
    margin:10px 0;
    box-shadow: 1px 1px 7px 1px gray;
    padding: 10px 0;
    border-radius: 5px;
}
.user img{
    width: 30px;
    height: 30px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-flex {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.width-95 {
  width: 95%;
}

body {
  background-color: #f4f7f2;
}

.width-60 {
  width: 60%;
}

.standartButton {
  width: 120px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: #35bb7d;
  margin-top: 20px !important;
  margin-top: 20px;
  /* background-image: linear-gradient(to right, #5185d5, #006f98, #005054, #132f23, #0c0f06); */
}

.boxShadow {
  box-shadow: 1px 1px 8px -1px #156b4e;
}

.bacColorWhite {
  background-color: white;
}

.textColor {
  color: #35bb7d;
  font-weight: bold;
}

.title {
  font-size: 20px;
  color: rgb(13, 44, 19);
}

.followButton {
  border: none;
  background-color: #35bb7d;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  padding: 5px;
}

.users {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}

.user {
  width: 30%;
  margin: 10px 0;
  box-shadow: 1px 1px 7px 1px gray;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
}

.user img {
  width: 30px;
  height: 30px;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #35bb7d !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #35bb7d !important;
}


.errors{
  font-size: 13px;
  color: red;
}