<div class="container-flex width-95 bacColorWhite boxShadow">
  <div class="left-bar">
    <div class="section-right">
      <div class="section img">
        <img class="profile-pic" [routerLink]="['/profile/me']" src="../../../assets/userdefult.png" alt="Img">
        <p [routerLink]="['/profile/me']">{{name}}</p>
      </div>
      <button mat-raised-button type="button" class="standartButton" (click)='logout()'
        [routerLink]="['/login']">LogOut</button>
    </div>
  </div>
  <div class="center-posts">
    <app-add-post></app-add-post>
  </div>
  <div class="right-bar">
    <div class="suggestions">
      <div class="section users">
        <app-suggested-users class="user"></app-suggested-users>
      </div>
    </div>
    <div class="search">
      <app-search></app-search>
    </div>
  </div>
</div>
