<div class="container-flex width-95 bacColorWhite boxShadow">
  <div class="left-bar">
    <div class="section-right">
      <div class="section img">
        <img class="profile-pic" [routerLink]="['/profile/me']" (click)="sendId()" src="../../../assets/userdefult.png" alt="Img">
        <p [routerLink]="['/profile/me']" (click)="sendId()">{{name}}</p>
      </div>
      <button mat-raised-button type="button" class="standartButton" (click)='logout()'
        [routerLink]="['/login']">LogOut</button>
    </div>
    <div class="widthismin">
      <div class="search">
        <app-search></app-search>
      </div>
    </div>
  </div>
  <div class="center-posts">
    <app-add-post></app-add-post>
    <app-added-post *ngFor="let post of posts" [post]='post'></app-added-post>
  </div>
  <div class="right-bar">
    <div class="suggestions">
      <div class="section users">
        <app-suggested-users class="user" [sugLimit]='sugLimit'></app-suggested-users>
      </div>
    </div>
    <div class="users">
      <app-search class="user"></app-search>
    </div>
  </div>
</div>
