<div class="container-flex width-95 bacColorWhite boxShadow">
  <div class="left-bar">
    <div class="section-right">
      <div class="section img">
        <img class="profile-pic"
          src="https://mobirise.com/bootstrap-template/profile-template/assets/images/timothy-paul-smith-256424-1200x800.jpg"
          alt="Img">
        <p>Name</p>
      </div>
      <button matbutton class="standartButton">LogOut</button>
    </div>
  </div>
  <div class="center-posts  ">
    <app-add-post></app-add-post>
  </div>
  <div class="right-bar">
    <div class="suggestions">
      <div class="section">
        <img class="profile-pic"
          src="https://mobirise.com/bootstrap-template/profile-template/assets/images/timothy-paul-smith-256424-1200x800.jpg"
          alt="Img">
        <p>Name</p>
      </div>
      <div class="section">
        <img class="profile-pic"
          src="https://mobirise.com/bootstrap-template/profile-template/assets/images/timothy-paul-smith-256424-1200x800.jpg"
          alt="Img">
        <p>Name</p>
      </div>
      <div class="section">
        <img class="profile-pic"
          src="https://mobirise.com/bootstrap-template/profile-template/assets/images/timothy-paul-smith-256424-1200x800.jpg"
          alt="Img">
        <p>Name</p>
      </div>
    </div>
    <div class="search">
      <app-search></app-search>
    </div>
  </div>
</div>
