<form class="container-flex postMargin boxShadow">
  <div class="info">
    <div class="subtitle">
      <a [routerLink]="['/profile', post.author._id]" (click)="sendId()">
        <img *ngIf="post.author.avatar" src="{{post.author.avatar}}" class="avatar" />
        <img *ngIf="!post.author.avatar" src="/assets/download.png" class="avatar" />
        <p>{{ post.author?.firstname }} {{ post.author?.lastname }}</p>
      </a>
    </div>
    <div class="post-remove">
      <button class='rem' *ngIf='postDeleteBtn' (click)='removePost()'>
        <mat-icon>delete_outlined</mat-icon>
      </button>
    </div>
  </div>
  <hr />
  <div class="allpost">
    <div class="post-title">
      <mat-card-content class="posttitleandcontent">{{post.title}}</mat-card-content>
    </div>
    <div class="post-content">
      <mat-card-content class="posttitleandcontent" [innerHTML]="post.content"></mat-card-content>
    </div>
    <div class="post-img">
      <img src="{{post.file}}" class="file" />
    </div>
  </div>
  <hr />
  <app-like [post]='post'></app-like>
</form>
