<!-- <profile-page></profile-page>
<app-add-post></app-add-post> -->
<!-- <app-feed></app-feed> -->
<!-- <profile-page></profile-page> -->
<!-- <app-add-post></app-add-post>-->
 <!-- <app-feed></app-feed>  -->

<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-wisard></app-wisard> -->

<!-- <app-login></app-login>  -->
<!-- <app-login></app-login> -->
<!-- <app-login></app-login> -->
<!-- <app-add-post></app-add-post> -->
<!-- <app-added-post></app-added-post> -->

<router-outlet></router-outlet>

