.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
}

.search {
  margin: 10px 0;
  padding: 10px 0;
}

.search>img:hover {
  cursor: pointer;
}

.search>p:hover {
  cursor: pointer;
}

.user {
  width: 90%;
  padding: 2%;
  margin: 20px 0;
}
