.login{
    margin:5% auto 0;
    height: 80%;
}
.login>div{
    text-align: center;
    width: 50%;
    height: 100%;
}
.login form{
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.login img{
    width: 100%;
    height: 100%;
}
.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media only screen and (max-width: 900px){
    .login>div{
        width: 100%;
    }
}