<div class="container-flex width-60 boxShadow bacColorWhite login">
  <div class="images">
    <img src="../../assets/loginpic.jpg" alt="">
  </div>
  <div class="loginForm">
    <p>ACCOUNT LOGIN</p>
    <form class="container-flex">
      <mat-form-field class="width-60">
        <input matInput placeholder=" Email" class="">
      </mat-form-field>
      <mat-form-field class="width-60">
        <input matInput placeholder=" Password">
      </mat-form-field>
      <button mat-raised-button class="standartButton">LogIn</button>
    </form>
  </div>
</div>
