<div class="container-flex width-60 boxShadow bacColorWhite login">
  <div class="images">
    <img src="../../assets/loginpic.jpg" alt="">
  </div>
  <div class="loginForm">
    <p>ACCOUNT LOGIN</p>
    <form class="container-flex" (ngSubmit)="onSubmit()" [formGroup]='login'>
      <mat-form-field class="width-60">
        <input matInput placeholder=" Email" class="" formControlName='email'>
      </mat-form-field>
      <p class="errors" *ngIf='errorEmail'>{{errorsValidation('email')}}</p>
      <mat-form-field class="width-60">
        <input matInput type="password" placeholder=" Password" formControlName='password'>
      </mat-form-field>
      <p class="errors" *ngIf='errorPass'>{{errorsValidation('password')}}</p>
      <button type="submit" mat-raised-button class="standartButton">LogIn</button>
      <p class="errors" *ngIf='errorText'>User not found.</p>
    </form>
    <p class="textColor" [routerLink]="['/register']">Register</p>
  </div>
</div>
