<div class="container-flex width-60 boxShadow bacColorWhite login">
  <div class="images">
    <img src="../../assets/loginpic.jpg" alt="">
  </div>
  <div class="loginForm">
    <p>ACCOUNT LOGIN</p>
    <form class="container-flex" (ngSubmit)="onSubmit()" [formGroup]='login'>
      <mat-form-field class="width-60">
        <input matInput placeholder=" Email" class="" formControlName='email'>
      </mat-form-field>
      <mat-form-field class="width-60">
        <input matInput placeholder=" Password" formControlName='password'>
      </mat-form-field>
      <button type="submit" mat-raised-button class="standartButton">LogIn</button>
    </form>
    <p>forgot <span class="textColor">User name / password</span></p>
    <p class="textColor"  [routerLink]="['/register']">Sign Up</p>
  </div>
</div>
